* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.descuentos {
    display: flex;
    align-items: center;
    background-color: #1CD1B0;
    height: 38px;   
    padding-left: 5px 
}

p {font-family: 'Roboto', sans-serif;}

div p {
    position: absolute;
    left: 10px;
    top: 10px;
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    align-items: center;
    background-color: #00669F;
    height: 101px;
    box-shadow: 0px 10px 7px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0;
    z-index: 10;
}

header h1 {
    font-style: 400;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    margin-left: 15px;
}

.tarjeta {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

article {
    position: relative;
    width: 300px;
    height: 529px;
    left: 32px;
    top: 154px;
    background-color: #F3F3F3;
    border-top-left-radius: 4%;
    border-top-right-radius: 4%;
    display: inline-block;
    margin: 100px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.bx {
    font-size: 30px;
    position: absolute;
    z-index: 4;
    color: #CC2424;
    top: 15px;
    left: 21px;
}
.contenido {
    position: absolute;
    z-index: 3;
    color: black;
    top:  300px;
    padding: 16px;
    text-align: justify;
}

.foto {
    position: absolute;
    z-index: 3;
    border-radius: 50%;
    left: 90px;
    top: 121px;
}
.fondo {
    position: absolute;
    z-index: 2;
}

h2{
    position: absolute;
    z-index: 3;
    color: black;
    top: 267px;
    left: 89px;
    font-family: 'Roboto', sans-serif;

}

.boton {
    position: absolute;
    z-index: 3;
    color: white;
    top: 460px;
    left: 85px;
    background-color: #00669F;
    padding: 15px 37px;
}

.bxs-plus-circle  {
    display: none;
    color: #00669F;
}

footer{
    background-color: #00669F;
    color: white;
    height: 51px;
    position: relative;
    top: 300px;
}

footer p {
    position: relative;
    top: 16px;
    left: 16px;
    font-family: 'Roboto', sans-serif;
} 

form h1 {
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    line-height: 72px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    margin: 20px;
    width: 85%;
    height: 832px;
    background-color: #00669F;
    border-radius: 15px;
    color: white;
    text-align: center;
    
}

.preguntas {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}

.columnas {
    display: flex;
    flex-direction: column;
    height: 580px;
    background-color: #00669F;
    justify-content: space-evenly;
}

label {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-family: 'Roboto', sans-serif;
}

option {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 19px;
}

.barra, #nombre, #fecha {
    width: 343px;
    height: 63px;
    border: 1.5px solid rgba(0,0,0,0.1);
    border-radius: 15px;
    font-size: 20px;
    
}

#descripcion {
    height: 307px;
    color: rgba(0, 0, 0, 0.5);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    border-radius: 15px;
    border: 1.53407px solid rgba(0, 0, 0, 0.1);
    padding: 20px 10px;
}

.enviar {
    background-color: #1CD1B0;
    color:black;
    width: 466px;
    height: 87px;
    border-radius: 23px;
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

@media (max-width: 768px) {
    div {
        background-color: #D1891C;  
    }

    .bxs-plus-circle {
        display: flex;
        align-items: flex-end;
        justify-content: end;
    }
    
    .tarjeta {
        flex-wrap: wrap;
    }
}

