

header img {
    width: 200px;
    margin-top: 100px;
    margin-left: 670px;
    border-radius: 50%;
}

header {
    background-color: #E5E5E5;
    background-image: url(./img/healthy-tea-leaves.jpg);
    background-attachment: fixed;
    background-size: cover;
    height: 500px;
}



h1 {
    background-color: #C4C4C4;
    text-align: center;
    font-family: 'Open Sans', sans-ser;
    font-weight: 700;
    font-size: 35px;
    line-height: 84.69%;
    color: #24855f;
    padding: 10px;
    margin-top: 200px;
}

h2 {
    background-color: #C4C4C4;
    color: #24855f;
    font-family: 'Open Sans', sans-ser;
    font-weight: 700;
    font-size: 20px;
    line-height: 16.94px;
    padding: 5px;
}

section {
    font-family: 'Open Sans', sans-ser;
    
}

.enfasis {
    font-family: 'Open Sans', sans-ser;
    font-weight: bold;
    font-style: italic;
}

.negrita {
    font-family: 'Open Sans', sans-ser;
    font-weight: bold;
}

footer{
    background-color: #24855f;
    font-family: 'Open Sans', sans-ser;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    padding-left: 20px;
    color: white;
}

.bx {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 400;
    color: white;
    font-size: 20px;
    line-height: 16px;
    
}

.datos {
    margin-top: 80px;
}