header img {
    width: 100px;
    margin-top: 20px;
    margin-left: 670px;
    border-radius: 40%;
}

header {
    background-color: #E5E5E5;
}



h1 {
    background-color: #C4C4C4;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 35px;
    line-height: 84.69%;
    color: #005677;
    padding: 10px;
}

h2 {
    background-color: #C4C4C4;
    color: #005677;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 16.94px;
    padding: 5px;
}

.enfasis {
    font-weight: bold;
    font-style: italic;
}

.negrita {
    font-weight: bold;
}

footer{
    background-color: #005677;
    text-align: center;
    padding: 5px;
    padding-left: 20px;
}

.cel {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 16px;
    
}